* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.top-section {
    background-color: #9A00D0;
    font-size: 24px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Times New Roman', monospace;
    text-align: center;
    color: #fefefe;
}

.search-section {
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 24px;
    width: 100%;
}

.search-section input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    border: none;
    background-color: #333;
    color: white;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151515;
    padding: 20px;
    color: white;
    font-family: 'micro 5', cursive;

}

.logo-section .pixel {
    color: white;
    font-size: 2em;
}

.logo-section .forge {
    color: #FAF500;
    font-size: 2em;
}

.tengah {
    background-color: #151515;
}

.nav a {
    color: #9A00D0;
    margin: 0 10px;
    text-decoration: none;
}

.nav a:hover {
    color: #FAF500;
}

.home-image {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-image img {
    width: 100%;
    max-height: 25vh;
}

.spotlight-section {
    background-color: #151515;
    text-align: center;
    padding: 0;
}

.spotlight-section h1 {
    font-size: 40px;
    letter-spacing: 3px;
}

.spotlight-section .spot {
    color: white;
    font-family: 'micro 5', cursive;
    font-size: 200%;
}

.spotlight-section .light {
    color: #FAF500;
    font-family: 'micro 5', cursive;
    font-size: 200%;
}

.spotlight-images {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.spotlight-images img {
    width: 30%;
    border: 3px solid #333;
}

.news-section {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.news-section {
    font-size: 200%;
    font-family: 'micro 5', cursive;
    margin-bottom: 10px;
    background-color: #151515;
}

.news-section p {
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.6;
}

.rules-section {
    background-color: #151515;
    color: white;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.rules-section ol {
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    padding-left: 20px;
}

.rules-section li {
    margin-bottom: 10px;
    font-size: 16px;
}
